body{
    padding-top:0px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.page-subnav,
.pagination-nav {
    width: 100%;
    height: 20px;
    background-color: #EEE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
    background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pagination-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.pagination.li.active{
    background-color: darkgrey;
}
.pagination {
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.pagination-page-info {
    padding: .6em;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #808080;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

#content {
    width:700px;
}

.collapsible,
.page_collapsible {
    margin: 0;
    padding:10px;
    height:40px;

    border-top:#f0f0f0 1px solid;
    border-radius: 7px;
    background: #4c88ce;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #fff;
    font-size:1em;
}

.collapse-open {
    background:#759fd0;
    color: #fff;
    border-radius: 7px;
}

.collapse-open span {
    display:block;
    float:right;
    padding:10px;
    border-radius: 7px;
}

.collapse-open span {
    background:url(../images/minus.png) center center no-repeat;
}

.collapse-close span {
    display:block;
    float:right;
    background:url(../images/plus.png) center center no-repeat;
    padding:10px;
}

div.container {
    padding:0px;
    padding-left:8px;
    padding-right:8px;
    margin:0;
    width:auto;
}

div.content {
    background:#f0f0f0;
    margin: 0;
    padding:10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size:.9em;
    line-height:1.5em;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    align-content: center;
}

div.content ul, div.content p {
    margin:0;
    padding:3px;
}

div.content ul li {
    list-style-position:inside;
    line-height:25px;
}

div.content ul li a {
    color:#759fd0;
}

code {
    overflow:auto;
}


#maintable {
    background: #a3c8d3;
}

.table-hover > tbody > tr > td, 
.table-hover > tbody > tr > th {
    border-top-color: #fff;
}


#annotInfoTable {
    background: #ffffff;
    border-color: azure;
    margin-left: auto;
    margin-right: auto;
}

#annotInfoTable th {
    text-align: center;
    padding:5px;
    border-bottom: 1px solid #ddd;
    color:black;
}

#annotInfoTable td {
    padding:5px;
    border-bottom: 1px solid #ddd;
    align-content: center;
    text-align:center;
    font-size: 12px;
    color:#000;
}
#annotInfoTable tr {
    padding:5px;
    align-content: center;
    text-align:center;
}

#hyptable {
    color: aliceblue;
    padding:10px;
    background: #7cbdd1;
    border-radius: 25px;
    z-index: 1;
}

#hyptable th{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
}


#hyptable td{
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding:10px;
    border-bottom: 1px solid #fff;
    
}
#hyptable tr{
    padding: 5px;
    
}

#hyptable tbody > tr:last-child > td {
  border-bottom: 0;
}

#hyptable caption{
    color: darkblue;
    font-size: 14pt;   
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

div.imgContainer {
    border-radius: 7px;
    width:inherit;
    padding: 5px;
    background: #4c88ce; 
}

div.table-responsive{
    overflow-x: initial;
}