<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>flask-bootstrap example</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/layout-default-1.4.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/web.css') }}">
    
    
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.layout-1.4.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.collapsible.js') }}"></script>
    
      
    <script type="text/javascript"> 
      $(document).ready(function () {
	   $('body').layout({ 
           applyDemoStyles: true,
           west: {
            minSize: 350,
            maxSize: 350,
            size: 350}
       }
       );

        $.fn.slideFadeToggle = function(speed, easing, callback) {
            return this.animate({opacity: 'toggle', height: 'toggle'}, speed, easing, callback);
        };

        //collapsible management
        $('.collapsible').collapsible({
            defaultOpen: 'section1',
            cookieName: 'nav',
            speed: 'fast',
            animateOpen: function (elem, opts) { //replace the standard slideUp with custom function
                elem.next().slideFadeToggle(opts.speed);
            },
            animateClose: function (elem, opts) { //replace the standard slideDown with custom function
                elem.next().slideFadeToggle(opts.speed);
            },
            loadOpen: function (elem) { //replace the standard open state with custom function
                elem.next().show();
            },
            loadClose: function (elem, opts) { //replace the close state with custom function
                elem.next().hide();
            }
        });
        $('.page_collapsible').collapsible({
            defaultOpen: 'body_section1',
            cookieName: 'body2',
            speed: 'fast',
            animateOpen: function (elem, opts) { //replace the standard slideUp with custom function
                elem.next().slideFadeToggle(opts.speed);
            },
            animateClose: function (elem, opts) { //replace the standard slideDown with custom function
                elem.next().slideFadeToggle(opts.speed);
            },
            loadOpen: function (elem) { //replace the standard open state with custom function
                elem.next().show();
            },
            loadClose: function (elem, opts) { //replace the close state with custom function
                elem.next().hide();
            }

        });

        //assign open/close all to functions
        function openAll() {
            $('.page_collapsible').collapsible('openAll');
        }
        function closeAll() {
            $('.page_collapsible').collapsible('closeAll');
        }

        //listen for close/open all
        $('#closeAll').click(function(event) {
            event.preventDefault();
            closeAll();

        });
        $('#openAll').click(function(event) {
            event.preventDefault();
            openAll();
        });
        closeAll();
      });
      
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="ui-layout-west">
        
        <form  action = "/scenes" method="post">
            
            <input type="textarea" name ="console"/><br>            
            <input type="submit" name="submit" value="Submit"/>
<!--            <input action= "/objects" type="submit" name="submit" value="Persistent Objects"/>-->
        </form>

<!--
<form action="#">
 
  <fieldset>
    <select name="speed" id="speed">
      <option>shape</option>
      <option>color</option>
      <option selected="selected">type</option>
      <option>location</option>
      <option>label</option>
    </select>
    <select name="keyvalue" id="keyvalue">
        <option>box</option>
        <option>flat</option>
        <option>round</option>
    </select>
    <input type="submit" name="submit2" value="Add"/>

  </fieldset>
 
</form>
-->
        
    </div>
    {% block body %}{% endblock %}
<!--
        <div class="ui-layout-north">North</div>
<div class="ui-layout-south">South</div>
<div class="ui-layout-east">East</div>
-->
  </body>
</html>
