{% extends 'base.html' %}

{% block body %}
<div class="ui-layout-center">
{% if objects %}
 {# {{ pagination.info }} #}
 {# {{ pagination.links }}#}
  <div class="table-responsive">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Annotations</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in objects %}
      <tr>
      <td>{{ loop.index }}</td>
      <td><img src="{{ obj['image']}}"/></td>
      <td>
        <table>
            {%for a in obj['annotations']%}
                <ul>
                    <li>{{ a }}</li>
                </ul>
        {%endfor%}
        </table>          
      </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  {#{{ pagination.links }}#}
{% endif %}
 
</div>
{% endblock %}

