{% macro shape(annot) %}
<table id = annotInfoTable >
    <thead>
        <tr>
            <th>Source</th>
            <th>Value</th>
            <th>Confidence</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{annot['source']}}</td>
            <td>{{annot['shape']}}</td>
            <td>{{annot['confidence']}}</td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro size(annot) %}
<table id = annotInfoTable >
    <thead>
        <tr>
            <th>Source</th>
            <th>Value</th>
            <th>Degree</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{annot['source']}}</td>
            <td>{{annot['size']}}</td>
            <td>{{annot['confidence']}}</td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro location(annot) %}
<table id = annotInfoTable >
    <thead>
        <tr>
            <th></th>
            <th>Source</th>
            <th>Relation</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Semantic Location:</td>    
            <td>{{annot['source']}}</td>
            <td>{{annot['reference_desc']}}</td>
            <td>{{annot['frame_id']}}</td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro detection(annot) %}
<table id = annotInfoTable >
    <thead>
        <tr>
            <th></th>
            <th>Source</th>
            <th>Label</th>
            <th>Confidence</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Detection Results:</td>
            <td>{{annot['source']}}</td>
            <td>{{annot['name']}}</td>
            <td>{{annot['confidence']}}</td>
        </tr>
    </tbody>
</table>
{% endmacro %}
        
{% macro color(annot) %}  
<table id = annotInfoTable >
    <thead>
        <tr>
        {% for label in annot['color']  %}
            <th>{{label}}</th>
        {% endfor %}        
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for r in annot['ratio']  %}
            <td>{{'%0.3f'| format(r|float)}}</td>
            {% endfor %}
        </tr>
    
    </tbody>
</table>
{% endmacro %}

{% macro pose(annot) %}  
<p>Source: {{annot['source']}}</p>
<table id = annotInfoTable >
<thead>
    <tr>
        <th>Frame</th>
        <th>Translation</th>
        <th>Rotation</th>
    </tr>
</thead>
<tbody>
    <tr><td>Camera</td><td>{{annot['camera']['translation']}}</td><td>{{annot['camera']['rotation']}}</td></tr>
   <tr><td>World</td><td>{{annot['world']['translation']}}</td><td>{{annot['world']['rotation']}}</td></tr>
</tbody>
</table>
{% endmacro %}

{% macro geometry(annot) %}  
<table id = annotInfoTable >
<thead>
   <tr>
       <th></th>
       <th>Height [m]</th>
       <th>Width [m]</th>
       <th>Depth [m]</th>
       <th>Volume [m3]</th>
   </tr>
</thead>
<tbody>
    <tr>
        <td>3DBounding Box</td>
        <td>{{annot['boundingBox']['height']}}</td>
        <td>{{annot['boundingBox']['width']}}</td>
        <td>{{annot['boundingBox']['depth']}}</td>
        <td>{{annot['boundingBox']['volume']}}</td>
    </tr>
</tbody>
</table>
{% endmacro %}

{% macro groundtruth(annot) %}  
<table id = annotInfoTable >
<thead>
   <tr>
       <th>ClassName</th>
       <th>FeatureName</th>
       <th>Classifier</th>
       <th>Model</th>
   </tr>
</thead>
<tbody>
    <tr>
        <td>{{annot['classificationGT']['classname']}}</td>
        <td>{{annot['classificationGT']['featurename']}}</td>
        <td>{{annot['classificationGT']['classifier']}}</td>
        <td>{{annot['classificationGT']['model']}}</td>
    </tr>
</tbody>
</table>
{% endmacro %}

{% macro classifi(annot) %}  
<table id = annotInfoTable >
<thead>
   <tr>
       <th>ClassName</th>
       <th>FeatureName</th>
       <th>Classifier</th>
       <th>Model</th>
   </tr>
</thead>
<tbody>
    <tr>
        <td>{{annot['classname']}}</td>
        <td>{{annot['featurename']}}</td>
        <td>{{annot['classifier']}}</td>
        <td>{{annot['model']}}</td>
    </tr>
</tbody>
</table>
{% endmacro %}

{% macro drawHistogram(name, id, nrOfBins, values) %}
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in range(1,nrOfBins) %}
                  "{{item}}",
              {% endfor %},
            ],
   datasets : [
      {
            backgroundColor: 'rgb(86, 135, 185)',
            label: "{{name}}",
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
   // get bar chart canvas   pclfeat_{{idx0}}{{idx}}{{aidx}}"
   var mychart = document.getElementById("{{id}}").getContext("2d");
   // draw bar chart
   var myBarChart = new Chart(mychart, {
        type: 'bar',
        data: barData,
        options: {
            responsive:false,
            legend: {
                display: true
            },
            scales: {
                xAxes: [{
                    ticks: {
                        display: true,
                        autoSkipPadding: 10
                    }
                }]
            }
        }}
);;


</script>
{% endmacro %}

{% macro colorhist(annot,idx0,idx,aidx) %}
    <canvas style="margin-left:auto;margin-right:auto" id="chart_{{idx0}}{{idx}}{{aidx}}" width="600" height="200"></canvas>
    {{ drawHistogram('HSV Histogram','chart_'~idx0~idx~aidx, annot['bins'],annot['values'])}} 
{% endmacro %}

{% macro pclfeat(annot,idx0,idx,aidx) %}
    <canvas style="margin-left:auto;margin-right:auto" id="pclchart_{{idx0}}{{idx}}{{aidx}}" width="600" height="200"></canvas>
    {{ drawHistogram('PCL VFH Feature','pclchart_'~idx0~idx~aidx, annot['bins'],annot['values'])}} 
{% endmacro %}

{% macro showObject(obj,idx0,idx) %}
<td><div class = "imgContainer"><img style="display:block;margin-left:auto;margin-right:auto;" src="{{ obj['image']}}"/>
</div>

</td>

       <td>
            <div id = content>   
            {%for a in obj['annotations']%}
                <div class="page_collapsible" id="body-section1">{{a['_type']}}<span></span></div>
                <div class="container">
                <div class= "content">
                    {% if  a['_type']|string() =='rs.annotation.Shape' %}
                        {{ shape(a) }}
                    {% elif a['_type']|string() =='rs.annotation.SemanticColor' %}
                        {{ color(a) }}
                    {% elif a['_type']|string() =='rs.annotation.PoseAnnotation' %}
                        {{ pose(a) }}
                    {% elif a['_type']|string() =='rs.annotation.Detection' %}
                        {{ detection(a) }}
                    {% elif a['_type']|string() =='rs.annotation.TFLocation' %}
                        {{ location(a) }}
                    {% elif a['_type']|string() =='rs.annotation.Geometry' %}
                        {{ geometry(a) }}
                    {% elif a['_type']|string() =='rs.annotation.GroundTruth' %}
                        {{ groundtruth(a) }}
                    {% elif a['_type']|string() =='rs.annotation.Classification' %}
                        {{ classifi(a) }}
                    {% elif a['_type']|string() =='rs.annotation.SemanticSize' %}
                        {{ size(a) }}
                    {% elif a['_type']|string() =='rs.annotation.ColorHistogram' %}
                        {{ colorhist(a,idx0,idx,loop.index) }}
                    {% elif a['_type']|string() =='rs.pcl.PclFeature' %}
                        {{ pclfeat(a,idx0,idx,loop.index) }}
                    {% endif %}
                </div>
                </div>
            {%endfor%}
            </div>
      </td>
{% endmacro %}