{#% extends 'base.html' %#}
{% import 'macros.html' as macros %}

<script  type="text/javascript">
    $('.page_collapsible').collapsible({
            defaultOpen: 'body_section1',
            cookieName: 'body2',
            speed: 'fast',
            animateOpen: function (elem, opts) { //replace the standard slideUp with custom function
                elem.next().slideFadeToggle(opts.speed);
            },
            animateClose: function (elem, opts) { //replace the standard slideDown with custom function
                elem.next().slideFadeToggle(opts.speed);
            },
            loadOpen: function (elem) { //replace the standard open state with custom function
                elem.next().show();
            },
            loadClose: function (elem, opts) { //replace the close state with custom function
                elem.next().hide();
            }

        });
        //assign open/close all to functions
        function openAll() {
            $('.page_collapsible').collapsible('openAll');
        }
        function closeAll() {
            $('.page_collapsible').collapsible('closeAll');
        }

        //listen for close/open all
        $('#closeAll').click(function(event) {
            event.preventDefault();
            closeAll();

        });
        $('#openAll').click(function(event) {
            event.preventDefault();
            openAll();
        });
        closeAll();
</script>

{% block body %}
<p> Query returned {{ objects|length }} Objects. </p>
{% if objects %}
  <div class="table-responsive">
    <table class="table" id ="maintable">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Annotations</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in objects %}
      <tr>
      <td>{{ loop.index }}</td>
      {{ macros.showObject(obj,loop.index)}}
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endif %}
 
{% endblock %}

