{#% extends 'base.html' %#}
{% import 'macros.html' as macros %}

{% block body %}
<p> Query returned {{ objects|length }} Objects. </p>
{% if objects %}
  <div class="table-responsive">
    <table class="table" id ="maintable">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Annotations</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in objects %}
      <tr>
      <td>{{ loop.index }}</td>
      {{ macros.showObject(obj,loop.index)}}
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endif %}
 
{% endblock %}

