 {% extends 'index.html'%}
    {% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ace/ace.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ace/ext-language_tools.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/three.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/RSWelcomeAnimation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/robosherlock.js') }}"></script>
        <script type="text/javascript">
      $(document).ready(function () {
        rs = new RoboSherlock({});
        rs.init();
        $("#query").layout({
            stateManagement__enabled: true,
             childOptions: {
                north: {
                    paneSelector: "#console",
                    onresize: function() {
                        ace.edit("history").resize(true);
                        ace.edit("user_query").resize(false);
                    },
                    minSize: 250
                },
                center: {
                    paneSelector: "#library",
                    minSize: 150
                }
            }
        });
      });
        </script>
    {%  endblock head %}

    {% block body %}
    <ul>
        <li class="home"><a href="/query">LIVE QUERY</a></li>
        <li class="objstore selected"><a href="/store">OBJECT STORE</a></li>
    </ul>

    <div class="container" id="container" style="padding-left:15px; margin-top: 0px; background-color: #DDDDDD">
        <div class="row">
            <div class="col-md-3" id="querying" style="height: 100%; background-color: white;">
                <div class="row " style="margin-bottom: 5px">
                    <select id="db_names" class="form-control">
                        {%  for db_name in db_names %}
                            <option>{{ db_name }}</option>
                        {%  endfor %}
                    </select>
                </div>
                <div class="row">
                    <ul id="query_tabs" class="nav nav-tabs">
                        <li class="active" id="scenes_tab"><a data-toggle="tab" href="#scenes">Scenes</a></li>
                        <li id="hypothesis_tab"><a data-toggle="tab" href="#hypothesis">Hypothesis</a></li>
                        <li id="objects_tab"><a data-toggle="tab" href="#objects">Objects</a></li>
                        <li id="query_tab"><a data-toggle="tab" href="#query">Query</a></li>
                      </ul>

                      <div class="tab-content">
                        <div id="scenes" class="form-group tab-pane fade in active">
                            <div class="row">
                                 <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" id="timestamp_check">
                                    <label class="form-check-label" for="timestamp_check">Timestamp</label>
                                 </div>
                                <select id="from_time" class="col-md-4">
                                    {% for timestamp in timestamps %}
                                        <option>{{ timestamp }}</option>
                                    {% endfor %}
                                </select>
                                <select id="to_time" class="col-md-4">
                                    {% for timestamp in timestamps %}
                                        <option>{{ timestamp }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                 <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" id="objects_check">
                                    <label class="form-check-label" for="objects_check">Objects</label>
                                 </div>
                                 <div class="col-md-6">
                                    <label class="col-form-label" for="objects_id">Object IDs</label>
                                    <input class="form-control" type="text" id="objects_id" defaultValue=" ">
                                 </div>
                            </div>
                        </div>
                        <div id="hypothesis" class="tab-pane fade">
                             <div class="row" style="margin-top: 10px">
                                 <div class="col-md-3">
                                          <input class="form-check-input" type="checkbox" id="shape_check">
                                          <label class="form-check-label" for="shape_check">Shape</label>
                                 </div>
                                 <select id="shapes_hypo" class="col-md-offset-1 col-md-3">
                                    <option>flat</option>
                                    <option>round</option>
                                 </select>
                                 <div class="col-md-3 col-md-offset-1">
                                    <label class="col-form-label" for="shape_conf">Conf</label>
                                    <input class="form-control" type="text" id="shape_conf">
                                 </div>
                             </div>

                             <div class="row" style="margin-top: 5px">
                                 <div class="col-md-3">
                                          <input class="form-check-input" type="checkbox" id="size_check">
                                          <label class="form-check-label" for="size_check">Size</label>
                                 </div>
                                 <select id="size_hypo" class="col-md-offset-1 col-md-3">
                                    <option>small</option>
                                    <option>medium</option>
                                 </select>
                                 <div class="col-md-3 col-md-offset-1">
                                    <label class="col-form-label" for="size_conf">Conf</label>
                                    <input class="form-control" type="text" id="size_conf">
                                 </div>
                             </div>
                             <div class="row" style="margin-top: 5px">
                                 <div class="col-md-3">
                                          <input class="form-check-input" type="checkbox" id="color_check">
                                          <label class="form-check-label" for="color_check">Color</label>
                                 </div>
                                 <select id="color_val" class="col-md-offset-1 col-md-3">
                                    <option>magenta</option>
                                    <option>red</option>
                                    <option>blue</option>
                                 </select>
                                 <div class="col-md-3 col-md-offset-1">
                                    <label class="col-form-label" for="color_conf">Conf</label>
                                    <input class="form-control" type="text" id="color_conf">
                                 </div>
                             </div>
                            <div class="row" style="margin-top: 5px">
                                 <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" id="timestamp_check_hypo">
                                    <label class="form-check-label" for="timestamp_check_hypo">Timestamp</label>
                                 </div>
                                <select id="from_time_hypo" class="col-md-4">
                                    {% for timestamp in timestamps %}
                                        <option>{{ timestamp }}</option>
                                    {% endfor %}
                                </select>
                                <select id="to_time_hypo" class="col-md-4">
                                    {% for timestamp in timestamps %}
                                        <option>{{ timestamp }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if not no_of_objects == 0%}
                                <div class="row" style="margin-top: 15px">
                                     <div class="col-md-3">
                                        <input class="form-check-input" type="checkbox" id="obj_check_hypo">
                                        <label class="form-check-label" for="obj_check_hypo">Object</label>
                                     </div>
                                     <select id="obj_hypo" class="col-md-offset-1 col-md-3">
                                         {% for i in range(no_of_obj) %}
                                            <option>{{ i + 1 }}</option>
                                         {% endfor %}
                                     </select>
                                </div>
                            {% endif %}
                        </div>
                        <div id="objects" class="tab-pane fade"></div>
                        <div id="query" class="tab-pane fade">
                            <div id="console">
                                <div id="console_top">
                                  <div id="history"></div>
                                  <div id="user_query"></div>
                                </div>
                          </div>
                          <div id="library">
                           <select onclick="rs.add_selected_to_queryform('querylist')"
                              size="20" name="querylist" id="querylist"><option value=0></option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
                    <div class="btn-group  col-md-offset-7" style="margin-top: 5px">
                        <button id="filter_button" class="btn btn-info">Query</button>
                        <button id="export_button" class="btn btn-info" >Export</button>
                    </div>
            </div>
            <div class="col-md-9" id="bodyDiv" style="height: 100%; overflow: auto;">
                <h1 id = "title-header">RoboSherlock Perceptual Memories</h1>
                <div id="canvas-container"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div id="logo_container" style="background-color: white;">
                <a href="http://ease-crc.org" class="media" title="http://ease-crc.org"  rel="nofollow">
                  <img src="{{ url_for('static', filename='images/logos/EASE-logo.png')}}" class="media" alt="" />
                </a>
                <a href="http://www.robohow.eu" class="media" title="http://www.robohow.eu"  rel="nofollow">
                  <img src="{{ url_for('static', filename='images/logos/robohow-logo.png')}}" class="media" alt="" />
                </a>
                <a href="http://www.dfg.de" class="media" title="http://www.dfg.de"  rel="nofollow">
                  <img src="{{ url_for('static', filename='images/logos/dfg.jpg')}}" class="media" alt="" />
                </a>
                <a href="http://cordis.europa.eu/fp7/ict/programme/challenge2_en.html" class="media" title="http://cordis.europa.eu/fp7/ict/programme/challenge2_en.html"  rel="nofollow">
                  <img src="{{ url_for('static', filename='images/logos/fp7-logo.png')}}" class="media" alt="" />
                </a>
              </div>
        </div>
    </div>
    {% endblock %}
