{% extends 'base.html' %}

{% block body %}
<div class="ui-layout-center">
{% if scenes %}
 {# {{ pagination.info }} #}
  {{ pagination.links }}
  <div class="table-responsive">
    <table class="table table-hover">
    <thead>
      <tr>
	<th>#</th>
	<th>Timestamp</th>
	<th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for scene in scenes %}
      <tr>
      <td>{{ loop.index + (page - 1) * per_page }}</td>
      <td>{{ scene['ts']}}
      <td><img src="{{ scene['rgb']}}"/></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  {{ pagination.links }}
{% endif %}
</div>
{% endblock %}

{#{% block js %}
  {% if active_url %}
    $('#{{ active_url }}').addClass('active');
  {% else %}
  $('#users-url').addClass('active');
  {% endif %}
{% endblock %}#}
