{% extends 'base.html' %}

{% block body %}
{% if timestamps %}
 {# {{ pagination.info }} #}
  {{ pagination.links }}
  <div class="table-responsive">
    <table class="table table-hover">
    <thead>
      <tr>
	<th>#</th>
	<th>TS</th>
	<th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for ts in timestamps %}
      <tr>
      <td>{{ loop.index + (page - 1) * per_page }}</td>
      <td>{{ ts }}
      <td><img src="{{ images[loop.index-1] }}"/></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  {{ pagination.links }}
  {% endif %}
{% endblock %}

{#{% block js %}
  {% if active_url %}
    $('#{{ active_url }}').addClass('active');
  {% else %}
  $('#users-url').addClass('active');
  {% endif %}
{% endblock %}#}
