{% import 'macros.html' as macros %}

{% for scene in scenes %}
      {% set outer_loop = loop %}
        <tr>
          <td>{{ loop.index  + index  }}</td>
          <td style="width:auto; max-width:290px;" > {{ scene['ts']}} <br>
            <div class = "imgContainer"> <img style="display:block;margin-left:auto;margin-right:auto;" src="{{ scene['rgb']}}"/></div>
          </td>
          <td>
          <table id= "hyptable">
              <thead>
                <tr>
                <th>#</th>
                <th>Image</th>
                <th>Annotations</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in scene['objects'] %}
                <tr>
                <td>{{ loop.index }}</td>
                    {{macros.showObject(obj,outer_loop.index,loop.index)}}
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </td>
      </tr>
      {% endfor %}