{% extends 'index.html' %}

  {% block head %}
    {{  super()  }}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/json-viewer/json-viewer.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/threejs/three.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/threejs/ColladaLoader.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/threejs/STLLoader.js')}}"></script>
    
          
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/EventEmitter2/eventemitter2.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/roslibjs/roslib.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/ColladaAnimationCompress/ColladaLoader2.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/Ros3D.js')}}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/json_prolog.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros/KeepAlivePublisher.js')}}"></script>
    
    <script type ="text/javascript" src = "{{ url_for('static', filename='js/tabSlideOut.js') }}"></script>
    <script type ="text/javascript" src = "{{ url_for('static', filename='js/json-viewer/jsquery.json-viewer.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/ace/ace.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ace/ext-language_tools.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/robosherlock.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/knowrob/knowrob.js') }}"></script>

    <script type="text/javascript">
    // global knowrob handle
    var knowrob;
    
    $(document).ready(function () {
      knowrob = new Knowrob({
          ros_url : 'ws://localhost:9090'
      });
      knowrob.init();
      $('#container').layout({
        stateManagement__enabled: true,
        south: {
          //BOTTOM-BANNER (funding locations)
          initClosed: false,    
          minSize: 60,
          maxSize: 60    
        },
        west: {
          minSize: 400,
          maxSize: 920,
          size: 500,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#console",
              onresize: function() {
                ace.edit("history").resize(true);
                ace.edit("user_query").resize(true);
              },
              minSize: 250
            },
            south: {
              paneSelector: "#library",
              minSize: 150
            }
          }
        },
        center: {
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#markers",
              onresize: function() {
               if( knowrob ) knowrob.resize_canvas();
              },
              minSize: 250
            },
            south: {
              paneSelector: "#partialResults",
              minSize: 250
            }
          }
        },
        east: {
          minSize: 250,
          maxSize: 1000,
          size: 400,
          initClosed: false,
          // INNER-LAYOUT
          childOptions: {
            north: {
              paneSelector: "#designator",
              minSize: 250
            },
		
            center: {
              paneSelector: "#mjpeg",
              minSize: 150,
              maxSize: 480
            }
          }
        }
      });
      knowrob.resize_canvas();
    });
  </script>
{% endblock %}


{% block body %}
<div class="container" id="container" style="padding-left:15px; margin-top: 0px;">    
 <div class="ui-layout-center" id="editor-container">
      <div id="markers"></div>
      <div id= "partialResults" style="display:flex">

    <div id="wrap_annotator_control">
    <div id="wrap_annotator_control_left">
            <img id="annotator_results_img" src="http://localhost:8080/stream?topic=/RoboSherlock/output_image" />  
    </div>
    <div id="wrap_annotator_control_right">
        <div id="rs_input_form">
           <div class="dropdown">
              <input type="text" placeholder="AnnotatorName:[option]" id="myInput" onkeyup="filterFunction()" onclick="myFunction()">
               <div id="myDropdown" class="dropdown-content">
                </div>
            </div>
           <button class="annotator_control_buttons" onclick="knowrob.annotatorCommand('myInput')">Set</button>
            <div>
                <button class="annotator_control_buttons" onclick="knowrob.annotatorCommand('next')">Next</button>
                <button class="annotator_control_buttons" onclick="knowrob.annotatorCommand('previous')">Previous</button>
            </div>
        </div>
    </div>
    </div>      
      </div>         
    </div>

    <div class="ui-layout-west">
      <div id="console">
        <div id="console_top">
          <div id="history"></div>
          <div id="user_query">prolog.</div>
        </div>
        <div id="console_bottom">
          <div id="query_buttons">
            <ul class="query_button_group">
              <li><a href="#" class="query_button" id="btn_query"  onclick="knowrob.query()">Query</a></li>
              <li><a href="#" class="query_button" id="btn_query_next" onclick="knowrob.next_solution()">Next Solution</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="library">
<!--
      <select id = "querylistselector" name = "querylistselector" style="width:inherit" id="querySelect" onchange="knowrob.populate_query_select('examplequery','querylistselector')">
	  <option value="LiveEase">Ease Milestone Live</option>
	  <option value="LogsEASE">Ease Symposium Logs</option>
	</select>
-->
       <select onclick="knowrob.add_selected_to_queryform('examplequery')" 
          size="20" name="examplequery" id="examplequery"><option value=0></option>
        </select>	
      </div>
    </div>
  
    <div class="ui-layout-east">
      <div id="designator"></div>
      <div id="mjpeg">
        <img align=center src="http://localhost:8080/stream?topic=/RoboSherlock/result_image" height="100%" width=100%/>
      </div>
    </div>
    
    <div class="pane ui-layout-south">
      <div id="logo_container">
        <a href="http://ease-crc.org" class="media" title="http://ease-crc.org"  rel="nofollow">
          <img src="{{ url_for('static', filename='images/logos/EASE-logo.png')}}" class="media" alt="" />
        </a>
        <a href="http://www.robohow.eu" class="media" title="http://www.robohow.eu"  rel="nofollow">
          <img src="{{ url_for('static', filename='images/logos/robohow-logo.png')}}" class="media" alt="" />
        </a>
        <a href="http://www.dfg.de" class="media" title="http://www.dfg.de"  rel="nofollow">
          <img src="{{ url_for('static', filename='images/logos/dfg.jpg')}}" class="media" alt="" />
        </a>
        <a href="http://cordis.europa.eu/fp7/ict/programme/challenge2_en.html" class="media" title="http://cordis.europa.eu/fp7/ict/programme/challenge2_en.html"  rel="nofollow">
          <img src="{{ url_for('static', filename='images/logos/fp7-logo.png')}}" class="media" alt="" />
        </a>
      </div>
    </div>
</div>
{% endblock %}
