{#% extends 'base.html' %#}

{% import 'macros.html' as macros %}

{#<script  type="text/javascript">#}
{#    $('.page_collapsible').collapsible({#}
{#            defaultOpen: 'body_section1',#}
{#            cookieName: 'body2',#}
{#            speed: 'fast',#}
{#            loadOpen: function (elem) { //replace the standard open state with custom function#}
{#                elem.next().show();#}
{#            },#}
{#            loadClose: function (elem, opts) { //replace the close state with custom function#}
{#                elem.next().hide();#}
{#            }#}
{##}
{#        });#}
{#        function openAll() {#}
{#            $('.page_collapsible').collapsible('openAll');#}
{#        }#}
{#        function closeAll() {#}
{#            $('.page_collapsible').collapsible('closeAll');#}
{#        }#}
{##}
{#        $('#closeAll').click(function(event) {#}
{#            event.preventDefault();#}
{#            closeAll();#}
{##}
{#        });#}
{#        $('#openAll').click(function(event) {#}
{#            event.preventDefault();#}
{#            openAll();#}
{#        });#}
{#</script>#}

{% block body %}
{% if scenes %}
{# <h1 id = "title-header">RoboSherlock Perceptual Memories</h1>#}
  <div class="table-responsive">
    <table class="table" id=maintable>
    <thead>
      <tr>
	<th>#</th>
	<th>Timestamp</th>
<!--	<th>Image</th>-->
    <th>Object Hypotheses</th>
      </tr>
    </thead>
    <tbody>
      {% for scene in scenes %}
      {% set outer_loop = loop %}
        <tr id="row{{ outer_loop.index }}">
          <td>{{ loop.index }}</td>
          <td style="width:auto; max-width:290px;" > {{ scene['ts']}} <br>
            <div class = "imgContainer"> <img style="display:block;margin-left:auto;margin-right:auto;" src="{{ scene['rgb']}}"/></div>
          </td>
          <td>
          <table id= "hyptable">
              <thead>
                <tr>
                <th>#</th>
                <th>Image</th>
                <th>Annotations</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in scene['objects'] %}
                <tr>
                <td>{{ loop.index }}</td>
                    {{macros.showObject(obj,outer_loop.index,loop.index)}}
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}
