<!--Thi Launch file is for OpenEASE. Do not touch!-->
<launch>
    
    <include file="$(find knowrob_roslog_launch)/launch/knowrob_ease.launch"></include>
    
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen" respawn="true"/> 

    <node name="RoboSherlock_openease" pkg="rs_kbreasoning" type="runAE" output="screen" args="kitchen -wait" >
        <remap from="/RoboSherlock_openease/result_advertiser" to="/RoboSherlock/object_designators"/>
        <remap from="/RoboSherlock_openease/image_base64" to="/logged_images"/>
    </node>


</launch>
