<!-- Launch file for running RS locally with web viwualization -->
<launch>
  <param name="initial_package" type="string" value="rs_kbreasoning" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />

  <!-- realtime filter -->
  <node pkg="realtime_urdf_filter" type="realtime_urdf_filter" name="$(anon realtime_urdf_filter)" output="log">
    <remap from="~input_depth" to="/kinect_head/depth_registered/image_raw"/>
    <remap from="~output_depth" to="/kinect_head/depth_registered/image_raw_filtered" />
    <remap from="~output_mask" to="/kinect_head/depth_registered/mask_filtered" />

    <rosparam command="load" file="$(find robosherlock)/config/filter_parameters_kinect.yaml"/>
  </node>

  <!-- launch robosherlock -->
  <node name="RoboSherlock" pkg="rs_kbreasoning" type="runAE" output="screen" args="pickandplace" />
</launch>
